@font-face {
  font-family: 'Roboto-Medium';
  src: url('../../Fonts/Roboto-Medium.ttf')
}

.bg {
  height: 600px;
  background-repeat:no-repeat;
  background-size: cover;
  background-position-y: -130px;
  margin-top: 10px;
  transition: opacity 2s ease;
}

form {
  width: 70%;
  height: 375px;
  margin-top: 26px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  color: white;
}

form input[type="text"] {
  width: 350px;
  height: 40px;
  background: transparent;
  color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
  padding-left: 10px;
  border-radius: 0px;
  font-family: 'Roboto-Medium';
  font-size: 20px;
  color: white;
  text-shadow: 0px 0px 5px black;
}

::placeholder {
  color: gray;
}

form span {
  font-size: 25px;
  text-shadow: 0px 0px 5px black;
  font-family: 'Roboto-Medium';
}

.editContainer {
  display: flex;
  padding: 50px;
}



.poster {
  height: 430px;
  width: 290px;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 12px 1px gray;
}

.poster{
  cursor: pointer;
  animation-name: imgAnimation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.editContainer_child {
  width: 530px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loader {
  display: flex;
  justify-content: center;
}

@keyframes imgAnimation {

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes showContent {
  100%{ opacity:1;
  }
}