@import '../../sass/utilities/mixins';
@import '../../sass/utilities/variables';

.voltContainer {
  @include wH(100%, 80vh);

  padding-top: 300px;

  .checkToken {
    @include wH(125px, 50px);

    position: absolute;
    left: 50%;
    outline: none;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #262b40;
    box-shadow: 0px 0px 4px 0px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    z-index: 2;
    transition: background-color 0.5s ease;
  }

  .checkToken:hover {
    cursor: pointer;
    background-color: #005a7f;
  }

  .checkToken:active {
    transform: scale(0.9);
  }
}