.buttonStyle {
  background-color: transparent;
  outline: none;
  border: 1px solid #373535;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.buttonHover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.inputStyle {
  background-color: white;
  border: 1px solid #d8d8d8;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.settings_neck {
  width: 100%;
  height: 43.59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 28px 0 23px;
}

.settings_neck .settings_newBtn {
  width: 82px;
  height: 100%;
  background: #61dbfc url("./settings_img/iconfinder_plus_214640.png") no-repeat 13px 12px/16px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 21px;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.settings_neck .settings_newBtn:focus {
  -webkit-box-shadow: inset 0 1px 0 #111111, 0 1px 1px #2e360a, 0 0 0 0.1rem #58c004;
          box-shadow: inset 0 1px 0 #111111, 0 1px 1px #2e360a, 0 0 0 0.1rem #58c004;
}

.settings_neck .settings_newBtn:hover {
  cursor: pointer;
}

.settings_neck .settings_reports {
  width: 121.55px;
  height: 100%;
  background-color: #262b3f;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  position: relative;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.settings_neck .settings_reports:focus {
  -webkit-box-shadow: inset 0 3px 5px #2e3606, 0 0 0 0.1rem #474b02;
          box-shadow: inset 0 3px 5px #2e3606, 0 0 0 0.1rem #474b02;
}

.settings_neck .settings_reports:hover {
  cursor: pointer;
}

.settings_neck .settings_reports:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  background: url("./settings_img/down_arrow.png") no-repeat center center/cover;
  right: 11px;
  top: 14px;
}

.settings_container {
  height: 720px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.settings_container .settingsMain_leftContent {
  width: 1066px;
  height: 691px;
  background-color: white;
  border: 0.0625rem solid rgba(46, 54, 80, 0.125);
  border-radius: 10px;
  padding: 25px 24px 0 24px;
}

.settings_container .settingsMain_leftContent h5 {
  width: 100%;
  color: #262b40;
  font-size: 1.25rem;
}

.settings_container .settingsMain_leftContent .form1 {
  width: 100%;
  height: 300px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.settings_container .settingsMain_leftContent .form1_child {
  width: 494px;
  height: 44px;
}

.settings_container .settingsMain_leftContent .form1_child span {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4a5073;
}

.settings_container .settingsMain_leftContent .form1_child input[type="text"] {
  width: 100%;
  height: 100%;
  margin-top: 15px;
  line-height: 1.5;
  color: #66799e;
  border: .0625rem solid #d1d7e0;
  border-radius: .5rem;
  padding-left: 13px;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.settings_container .settingsMain_leftContent .form1_child select {
  width: 100%;
  height: 100%;
  margin-top: 15px;
  line-height: 1.5;
  color: #66799e;
  border: .0625rem solid #d1d7e0;
  border-radius: .5rem;
  padding-left: 13px;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  font-size: 16px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("./settings_img/iconfinder_arrow-down-01_186411.png") no-repeat 97% 11px/17px;
}

.settings_container .settingsMain_leftContent .form1_child input[type="text"]::-webkit-input-placeholder {
  color: #908ea7;
}

.settings_container .settingsMain_leftContent .form1_child input[type="text"]:-ms-input-placeholder {
  color: #908ea7;
}

.settings_container .settingsMain_leftContent .form1_child input[type="text"]::-ms-input-placeholder {
  color: #908ea7;
}

.settings_container .settingsMain_leftContent .form1_child input[type="text"]::placeholder {
  color: #908ea7;
}

.settings_container .settingsMain_leftContent .form1_child input[type="text"]:focus {
  color: #66799e;
  background-color: #fff;
  border-color: #566190;
  outline: none;
  -webkit-box-shadow: inset 0 1px 2px #2e360a, 0 0 0 0.1rem #262b03;
          box-shadow: inset 0 1px 2px #2e360a, 0 0 0 0.1rem #262b03;
}

.settings_container .settingsMain_leftContent .form1 .birthday .MuiGrid-container {
  width: 494px;
}

.settings_container .settingsMain_leftContent .form1 .birthday .MuiGrid-container .MuiFormControl-root {
  width: 100%;
  border: .0625rem solid #d1d7e0;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow .15s ease-in-out;
  transition: -webkit-box-shadow .15s ease-in-out;
  transition: box-shadow .15s ease-in-out;
  transition: box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.settings_container .settingsMain_leftContent .form1 .birthday .MuiGrid-container .MuiFormControl-root .MuiInput-underline::before {
  border: none;
}

.settings_container .settingsMain_leftContent .form1 .birthday .MuiGrid-container .MuiFormControl-root .MuiInput-underline::after {
  border: none;
}

.settings_container .settingsMain_leftContent .form1 .birthday .MuiGrid-container .MuiFormControl-root .MuiInput-underline:hover:not(.Mui-disabled)::before {
  border-bottom: none;
}

.settings_container .settingsMain_leftContent .form1 .birthday .MuiGrid-container .MuiFormControl-root p {
  margin-left: 15px;
}

.settings_container .settingsMain_leftContent .form1 .birthday .MuiGrid-container .MuiFormControl-root:hover {
  -webkit-box-shadow: inset 0 1px 2px #2e360a, 0 0 0 0.1rem #262b03;
          box-shadow: inset 0 1px 2px #2e360a, 0 0 0 0.1rem #262b03;
}

.settings_container .settingsMain_leftContent .form1 .birthday .MuiGrid-container .MuiInput-root input[type="text"] {
  height: 44px;
  margin: 0px;
  padding: 0px 0px 0px 13px;
  border: none;
}

.settings_container .settingsMain_leftContent .form1 .birthday .MuiGrid-container .MuiInput-root input[type="text"]:focus {
  color: #66799e;
  background-color: inset;
  border-color: inset;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.settings_container .settingsMain_leftContent .form2 {
  width: 100%;
  height: 185px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.settings_container .settingsMain_leftContent .form2_child:first-child {
  width: 754px;
  height: 44px;
}

.settings_container .settingsMain_leftContent .form2_child:nth-child(2) {
  width: 234px;
  height: 44px;
}

.settings_container .settingsMain_leftContent .form2_child:nth-child(n+3) {
  width: 322px;
  height: 44px;
}

.settings_container .settingsMain_leftContent .form2_child input[type="text"] {
  width: 100%;
  height: 100%;
  margin-top: 15px;
  line-height: 1.5;
  color: #66799e;
  border: .0625rem solid #d1d7e0;
  border-radius: .5rem;
  padding-left: 13px;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.settings_container .settingsMain_leftContent .form2_child input[type="text"]::-webkit-input-placeholder {
  color: #908ea7;
}

.settings_container .settingsMain_leftContent .form2_child input[type="text"]:-ms-input-placeholder {
  color: #908ea7;
}

.settings_container .settingsMain_leftContent .form2_child input[type="text"]::-ms-input-placeholder {
  color: #908ea7;
}

.settings_container .settingsMain_leftContent .form2_child input[type="text"]::placeholder {
  color: #908ea7;
}

.settings_container .settingsMain_leftContent .form2_child input[type="text"]:focus {
  color: #66799e;
  background-color: #fff;
  border-color: #566190;
  outline: none;
  -webkit-box-shadow: inset 0 1px 2px #2e360a, 0 0 0 0.1rem #262b03;
          box-shadow: inset 0 1px 2px #2e360a, 0 0 0 0.1rem #262b03;
}

.settings_container .settingsMain_leftContent .form2_child select {
  width: 322px;
  height: 100%;
  margin-top: 15px;
  line-height: 1.5;
  color: #66799e;
  border: .0625rem solid #d1d7e0;
  border-radius: .5rem;
  padding-left: 13px;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  font-size: 16px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("./settings_img/iconfinder_arrow-down-01_186411.png") no-repeat 95% 11px/17px;
}

.settings_container .settingsMain_leftContent .form2_child span {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4a5073;
}

.settings_container .settingsMain_leftContent .saveBtn {
  width: 85px;
  height: 41px;
  margin-top: 15px;
  font-size: 1rem;
  border-radius: .5rem;
  outline: none;
  color: #fff;
  background-color: #262b40;
  border-color: #262b40;
  -webkit-box-shadow: inset 0 1px 0 #111111, 0 1px 1px #2e360a;
          box-shadow: inset 0 1px 0 #111111, 0 1px 1px #2e360a;
}

.settings_container .settingsMain_leftContent .saveBtn:hover {
  cursor: pointer;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.settings_container .settingsMain_leftContent .saveBtn:focus {
  -webkit-box-shadow: inset 0 1px 0 #111111, 0 1px 1px #2e360a, 0 0 0 0.1rem #474b02;
          box-shadow: inset 0 1px 0 #111111, 0 1px 1px #2e360a, 0 0 0 0.1rem #474b02;
}

.settings_container .settingsMain_rightContent {
  width: 520px;
  height: 691px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
  position: relative;
}

.settings_container .settingsMain_rightContent .rightContent_Profile, .settings_container .settingsMain_rightContent .rightContent_selectPhoto {
  width: 100%;
  height: 457px;
  border: 0.0625rem solid rgba(46, 54, 80, 0.125);
  border-radius: 10px;
  background-color: white;
}

.settings_container .settingsMain_rightContent .rightContent_Profile .profile_backgroundPhoto, .settings_container .settingsMain_rightContent .rightContent_selectPhoto .profile_backgroundPhoto {
  width: 110%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: url("https://images.unsplash.com/photo-1529465230221-a0d10e46fcbb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fHByb2dyYW1taW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80") no-repeat 0px -45px/cover;
}

.settings_container .settingsMain_rightContent .rightContent_Profile .profile_info, .settings_container .settingsMain_rightContent .rightContent_selectPhoto .profile_info {
  width: 100%;
  padding-top: 15%;
  text-align: center;
  font-size: 1rem;
  color: #262b40;
}

.settings_container .settingsMain_rightContent .rightContent_Profile .profile_info .userName, .settings_container .settingsMain_rightContent .rightContent_selectPhoto .profile_info .userName {
  line-height: 1.3;
  font-size: 1.25rem;
  color: #262b40;
  margin-bottom: 10px;
}

.settings_container .settingsMain_rightContent .rightContent_Profile .profile_info p, .settings_container .settingsMain_rightContent .rightContent_selectPhoto .profile_info p {
  margin-bottom: 15px;
}

.settings_container .settingsMain_rightContent .rightContent_Profile .profile_UserPhoto, .settings_container .settingsMain_rightContent .rightContent_selectPhoto .profile_UserPhoto {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: url("./settings_img/user.jpg") -113px -105px/450px;
  position: absolute;
  border: 2px solid white;
  top: 87px;
  left: 37%;
}

.settings_container .settingsMain_rightContent .rightContent_Profile .btnConnect, .settings_container .settingsMain_rightContent .rightContent_selectPhoto .btnConnect {
  width: 96px;
  height: 31px;
  font-size: .875rem;
  border-radius: .5rem;
  color: #fff;
  background-color: #1e2233;
  border-color: #1d2030;
  margin-right: 15px;
  padding-left: 10px;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.settings_container .settingsMain_rightContent .rightContent_Profile .btnSendMessage, .settings_container .settingsMain_rightContent .rightContent_selectPhoto .btnSendMessage {
  width: 110px;
  height: 31px;
  border: none;
  border-radius: .5rem;
  color: #262b40;
  background-color: #81e1fc;
  border-color: #71defb;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.settings_container .settingsMain_rightContent .rightContent_Profile .btnConnect:hover, .settings_container .settingsMain_rightContent .rightContent_selectPhoto .btnConnect:hover {
  cursor: pointer;
}

.settings_container .settingsMain_rightContent .rightContent_Profile .btnSendMessage:hover, .settings_container .settingsMain_rightContent .rightContent_selectPhoto .btnSendMessage:hover {
  cursor: pointer;
}

.settings_container .settingsMain_rightContent .rightContent_Profile .btnConnect:active, .settings_container .settingsMain_rightContent .rightContent_selectPhoto .btnConnect:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.settings_container .settingsMain_rightContent .rightContent_Profile .btnSendMessage:active, .settings_container .settingsMain_rightContent .rightContent_selectPhoto .btnSendMessage:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.settings_container .settingsMain_rightContent .rightContent_Profile .btnConnect:focus, .settings_container .settingsMain_rightContent .rightContent_selectPhoto .btnConnect:focus {
  -webkit-box-shadow: inset 0 1px 0 #111111, 0 1px 1px #2e360a, 0 0 0 0.1rem #474b02;
          box-shadow: inset 0 1px 0 #111111, 0 1px 1px #2e360a, 0 0 0 0.1rem #474b02;
}

.settings_container .settingsMain_rightContent .rightContent_selectPhoto {
  width: 100%;
  height: 162px;
  padding: 15px 0px 0px 25px;
}

.settings_container .settingsMain_rightContent .rightContent_selectPhoto h5 {
  display: inline-block;
  font-size: 1.25rem;
  color: #262b40;
  margin-bottom: 20px;
}

.settings_container .settingsMain_rightContent .rightContent_selectPhoto .rightContent_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.settings_container .settingsMain_rightContent .rightContent_selectPhoto .rightContent_info .selectedPhoto {
  width: 72px;
  height: 72px;
  background: url("./settings_img/user.jpg") -84px -72px/300px;
  border-radius: 10px;
}

.settings_container .settingsMain_rightContent .rightContent_selectPhoto .rightContent_info .photoFormat {
  height: 62px;
  padding: 13px 0px 0px 50px;
  color: #262b40 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.settings_container .settingsMain_rightContent .rightContent_selectPhoto .rightContent_info .photoFormat::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background: url("./settings_img/iconfinder_General_Office_14_2530830.png") center center/cover;
  left: 10px;
  top: 23px;
}
/*# sourceMappingURL=Setting.css.map */