@import '../../sass/utilities/mixins';
@import '../../sass/utilities/variables';

footer {
  @include wH(100%, 121px);

  position: relative;
  display: flex;
  padding: 48px 0;

  .footLeft {
    @include wH(50%, 100%);

    a {
      text-decoration: none;
    }
  }

  .footRight {
    @include wH(50%, 100%);

    display: flex;
    justify-content: flex-end;

    ul {
      list-style-type: none;
      display: flex;

      a {
        margin-right: 8px;
        padding: 0 8px;
        color: #262b40;
      }

      a:hover {
        color: blue;
      }
    }
  }

  .footerSettings {
    @include wH(118px, 40px);

    position: fixed;
    background: $white url('../Footer/footer_img/iconfinder_SEO_cogwheels_setting_969265.png') no-repeat 5px 7px /28px;
    bottom: 0;
    right: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    span {
      font-size: 18px;
    }
  }

  .footerSettings:hover {
    cursor: pointer;
    background-color: lightgray;
  }
}