@import '../../sass/utilities/extends';
@import '../../sass/utilities/mixins';
@import '../../sass/utilities/variables';

.inputContainer {
  @include wH(318px, 42px);

  display: flex;

  .small {
    @extend .inputStyle;
    @include wH(280px, 100%);
  }
}

.largeContainer {
  @include wH(521px, 42px);

  display: flex;

  .large {
    @extend .inputStyle;
    @include wH(483px, 100%);

  }
}



.inputLogo {
  @include wH(38px, 100%);

  display: flex;
  padding: 8.8px 12px 8.8px 12px;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background: $white url(../Search/search_logo/SearchLogo.png) no-repeat 10px 10px /20px;

}
