.tFoot__nav {
  width: 320px;
  height: 40px;
  display: flex;
}

input[type="button"]{
  width:35px;
  height:39px;
  background-color: white;
  border: 1px solid #d0cfcf;
  border-right: none;
  font-size: 1rem;
  transition: all 0.5s ease;
}
input[type="button"]:hover{
  cursor: pointer;
  background-color: whitesmoke;
}
#previous{
  width:87px;
  height:39px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#next{
  width:59px;
  height: 39px;
  border-right: 1px solid #d0cfcf;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

input[type="button"].active{
  background-color:#262b40;
  color: white;
}