.buttonStyle, .addBook {
  background-color: transparent;
  outline: none;
  border: 1px solid #373535;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.buttonHover, .addBook:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.inputStyle {
  background-color: white;
  border: 1px solid #d8d8d8;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.addBook {
  width: 78px;
  height: 42px;
  position: absolute;
  left: 600px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.addBook:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.booksTable {
  width: 100%;
  height: 400px;
}

.booksTable .MuiDataGrid-root .MuiDataGrid-cellLeft a {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  background: url("../Book/book_img//iconfinder_document_text_edit_103514.png") no-repeat 7px 6px/20px;
  -webkit-box-shadow: 0px 0px 3px 0px black;
          box-shadow: 0px 0px 3px 0px black;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
}

.booksTable .MuiDataGrid-root .MuiDataGrid-cellLeft a:hover {
  opacity: 0.5;
}

.booksTable .MuiDataGrid-root .MuiDataGrid-main .MuiDataGrid-colCellRight .MuiDataGrid-colCellTitleContainer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 8px;
}

.booksTable .MuiDataGrid-root .MuiDataGrid-colCellTitleContainer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.booksTable .MuiDataGrid-root .MuiDataGrid-main .MuiDataGrid-windowContainer .MuiDataGrid-cellLeft {
  text-align: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  outline: none;
}

.booksTable .MuiDataGrid-root .MuiDataGrid-windowContainer .MuiDataGrid-cellRight {
  text-align: center;
}

.booksTable .MuiDataGrid-root .MuiDataGrid-main .MuiDataGrid-colCell:focus,
.booksTable .MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none;
}

.booksTable .MuiDataGrid-root .MuiDataGrid-windowContainer .MuiDataGrid-cellLeft {
  text-align: start;
}

.booksTable .MuiDataGrid-root .MuiDataGrid-cellLeft a:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.booksTable .MuiDataGrid-root .MuiDataGrid-cellLeft a:hover {
  cursor: pointer;
}

.booksTable .MuiDataGrid-root .MuiDataGrid-cellWithRenderer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.booksTable .MuiDataGrid-root .MuiDataGrid-main .MuiDataGrid-colCellMoving {
  background-color: transparent;
}
/*# sourceMappingURL=Style.css.map */