@import '../../sass/utilities/mixins';
@import '../../sass/utilities/extends';
@import '../../sass/utilities/variables';

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../../fonts/Roboto-Medium.ttf')
}

.addContainer {
  display: flex;
  padding: 50px;

  .addPoster {
    @include wH(290px, 430px);

    background: $white no-repeat center center /cover;

  }

  form {
    @include wH(75%, 375px);

    margin-top: 26px;
    margin-left: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: $white;

    input[type="text"] {
      @include wH(350px, 40px);

      background: transparent;
      color: $white;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid gray;
      padding-left: 10px;
      border-radius: 0px;
      font-family: 'Roboto-Medium';
      font-size: 20px;
      color: $black;
      outline: none;
    }

    span {
      font-size: 25px;
      font-family: 'Roboto-Medium';
      color: $black;
    }

    .addContainer_child {
      width: 530px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .saveBtn {
      @extend .buttonStyle;
      @include wH(80px, 35px);

      position: absolute;
      bottom: 0px;
      left: 28%;
      border-radius: 10px;
      font-size: 20px;
      color: $black;
      text-align: center;

    }

    .saveBtn:hover {
      @extend .buttonHover;
    }

    .saveBtn:active {
      transform: scale(0.9)
    }

    .disabledBtnSave {
      @extend .buttonStyle;
      @include wH(80px, 35px);

      position: absolute;
      bottom: 0px;
      left: 28%;
      border-radius: 10px;
      font-size: 20px;
      color: $black;
      text-align: center;
      opacity: 0.5;
    }
  }

  form::placeholder {
    color: gray;
  }
}