.SbChild {
  width: 212px;
  height: 46px;
  padding: 10px;
  display: flex;
  color: white;
  font-size: 1rem;
  border: .0625rem solid transparent;
  border-radius: 5px;
  margin-bottom: .2rem;
  transition: all 0.3s ease;
  position: relative;
}

.arrow {
  background-image: url('../sideBar_child//sB_child_logo/arrow.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-y: 12px;
  background-position-x: 180px;
}

.SbChild:hover {
  cursor: pointer;
  border: .0625rem solid #727490;
  background-color: #333353;
}

.active{
  border: .0625rem solid #727490;
  background-color: #333353;
}
.activeSb:hover {
  cursor: pointer;
}

img {
  width: 22px;
  height: 22px;
  margin-right: 14px;
}

.SbChild:nth-child(7):after {
  content: 'Pro';
  width: 32px;
  height: 20px;
  text-align: center;
  font-size: 13px;
  color: black;
  background-color: skyblue;
  position: absolute;
  top: 13px;
  right: 14px;
  border-radius: 12px;
}